
.habits{
border: 10px;
border-color: #DDA797;
}

#headerImg{
  width: 70%; 
  height: 100%;
  margin-bottom: 30px;
}
.WTDbutton{
  margin: 10px;
}

form.signup,
form.login {
  margin-top: 10px;
}

body {
  background-color: #f7f2e9;
  font-size: .8em;
}
.nav-bar {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 2px;
}
.footer {
  font-size: 20px;
  padding: 2px;
  vertical-align: top;
}

.footer-link {
  color: #212121;
}

.footer-link:hover {
  color: #DDA797;
}
.navButton {
  border: #070707;
  max-height: 1.5em;
  margin: 0px;
  padding: 0px;
  align-self: center;
}
.navbar-brand{
  padding: 2px;
}

.navbar-default{
  padding: 2px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #DDA797;
  border-style: inset;
}

.fixed-bottom{
  font-size: 1em;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #DDA797;
  border-style: inset;
  max-height: 30px;
  vertical-align: top;
}

.header-img{
  width: 100%;
  padding-left: 20px;
  padding-right:20px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.table-columns{
  background-color:#DDA797 ;
}
