.selectedHabits{
  border: 10px;
  border-color: #000000;
  }

.habits{
border: 10px;
border-color: #DDA797;
}

.headerImg{
  width: 70%; 
  height: 70%;
  margin-top: 5px;
  margin-bottom: 2px;
  padding-bottom: 0px;
}
.catImg{
  width: 100%; 
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 0px;
  align-content: center;
}

.WTDbutton{
  margin: 10px;
}

form.signup,
form.login {
  margin-top: 10px;
}

body {
  background-color: #f7f2e9;
  font-size: 1.2em;
}
/* .navbar {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 2px;
} */
.navbar-footer {
  margin-bottom: 5px;
  padding: 2px;
  vertical-align: top;
}

.footer-link {
  color: #212121;
  padding: 0px;
  vertical-align: top;
}

.navButton {
  border: #070707;
  max-height: 1.5em;
  margin: 0px;
  padding: 0px;
  align-self: center;
}

.navbar-default{
  padding: 2px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: #DDA797;
  border-style: inset;
}

.fixed-bottom{
  font-size: 1em;
  background-color: #ebc6ba;
  border-width: 1px;
  border-color: #DDA797;
  border-style: inset;
  /* max-height: 30px; */
  vertical-align: top;
  margin-top: 10px;
}

/* #headerImg {
  width: 90%;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 20px
} */

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu.pull-left{
  position: relative;
  background-color: #ebc6ba;
}


.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
 
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
   
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #DDA797;
  margin-top: 5px;
  margin-right: -10px;
  
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
  background-color: #DDA797;
}


.dropdown-submenu.pull-left {
  float: none;
  background-color: #DDA797;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
  background-color: #DDA797;
}

.table-columns{
  background-color:#DDA797;
  color: white ;
}

.card{
  margin-bottom: 5px;
  width: 14rem;
  border: 1px solid #DDA797;
}

.option, .category {
  color: #DDA797;

}

.option:hover, .category:hover, .welcome {
  color: #D99830;
}
