<nav class="nav-bar">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Habits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>
</nav>

<header class="header">
      <img class="header-img" src="/Sequelize-Passport-Example/public/img/Winning-the-Day.png" alt="Winning the day Header image">
</header>

<div>
  <p class="text-center">
    Breaking or creating habits is a hard thing to do. They say it takes 21 days to create a new habit. So lets us help you become a better version of yourself.
  </p>
</div>


